body{
background:#0F172A;
font-family:Poppins,sans-serif;
color:white;
margin:0;
padding:40px;
}

.container{
max-width:1300px;
margin:auto;
}

.cards{
display:flex;
gap:20px;
margin-bottom:40px;
}

.card{
flex:1;
background:#1E293B;
padding:25px;
border-radius:15px;
text-align:center;
}

.card h2{
font-size:40px;
color:#38BDF8;
}

table{
width:100%;
border-collapse:collapse;
background:#1E293B;
}

th,td{
padding:15px;
border-bottom:1px solid #334155;
}

th{
background:#2563EB;
}
#searchBox{
width:100%;
padding:15px;
margin:25px 0;
border:none;
border-radius:10px;
font-size:16px;
background:#0F172A;
color:white;
border:1px solid #334155;
}